<div class="cards-list">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card">
          <% if cocktail.photo.attached? %>
            <div class="card_image"><%= cl_image_tag cocktail.photo.key, width: 250, height: 250, crop: :fill %></div>
          <% else %>
            <div class="card_image"><%= image_tag 'https://images.immediate.co.uk/production/volatile/sites/30/2020/08/mojito-cocktails-814a3f7.jpg?quality=90&resize=500%2C454' %></div>
          <% end %>
          <div class="card_image"><%= @photo_param %></div>
          <div class="card_title title-white">
            <p> <%= cocktail.name %> </p>
            <p>
              <% #cocktail.ratings.to_i.times do  %>
               <!-- <span class="glyphicon glyphicon-star"></span> -->
              <% #end %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
